.input-container,
.button-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.button-container {
    align-items: center;
} 

input.input-style {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: .5rem;
}

input.input-style::placeholder {
    color: lightgray;
}

label {
    font-size: 12px;
}

.input-file-container {
    background-color: white;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    
}

select.input-select {
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
}

input.input-style:focus,
.input-file-container,
select.input-select:focus {
    box-shadow: 0 0 6px rgb(255, 255, 255);
    outline: none;
}

.form-container {
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
    height: -moz-fit-content;
    width: 100%;
    padding: 1rem;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 80%;
}

.check label {
    margin-right: 10px;
    position: relative;
    top: -1px;
} 



.btn {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    height: 2.5rem;
    text-transform: uppercase;
    width: 8rem;
    font-weight: bold;
}


/* 
#7374FA
#6686DE
#7DBDF5
#E4F1F5
#00B2A5
*/
.profile-subtitle{
    font-size: 1.5rem;

}

.btn-edit {
    background: #7DBDF5;
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in-out;
}

.btn-edit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(43, 236, 124, 0.5) 50%);
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border: 1px solid red; */
   
}

.img-photo-edit{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
   /*  border: 2px solid blue; */
}




@media screen and (min-width: 475px) {
    .input-container,
    .button-container,
    .input-file-container {
    width: 90%;
    }
    .form-container {
        width: 75%;
    }

}


@media screen and (min-width: 768px) {
    .input-container,
    .button-container,
    .input-file-container {
    width: 80%;
    }
    .form-container {
        width: 50%;
    }

}

.profile .form-container {
    width: 100%;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-box h4 {
    margin-bottom: 1rem;
}

.profile .button-container {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.profile .form-container {
    background-color: #E4F1F5;
    height: fit-content;
}

.profile .avatar {
    width: 150px;
    height: 150px;
    background-color: thistle;
    border-radius: 50%;
    margin-bottom: 1rem;
   /*  border: 1px solid red; */

}


@media screen and (min-width: 475px) {
   
    .profile .form-container {
        width: 90%;
    }

}


@media screen and (min-width: 768px) {
  
    .profile .form-container {
        width: 80%;
    }

}



@media screen and (min-width: 992px) {

    .profile .input-file-container {
        max-width: 300px;
    }
  
    .profile .form-container {
        width: 90%;
    }

    .profile-form {
        flex-direction: row;
        align-items: center;
    }

    .profile .button-container {
        flex-direction: row;
        margin-top: 2rem;
        gap: 20px;
        justify-content: center;
    }

}
