.body-stock {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
  .page-stock {
    display: flex;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
    
  }
  .sidebar {
    background-color: #292929;
    width: 240px;
    padding: 15px;
    background-color: #6686DE;
   
  }

/* 
#7374FA
#6686DE
#7DBDF5
#E4F1F5
#00B2A5
*/
  .sidebar h2 {
    color: white;
    text-align: center;
    margin: 0 10px 30px 10px;
    padding: 20px;
    border-bottom: 1px solid white;
  }
  .sidebar .links li {
    list-style: none;
  }

  .sidebar .links li p { /* ---------------------- */
    text-decoration: none;
    color: white;
    display:block;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  .sidebar .links li p.active { /* ---------------------- */
    background-color: rgba(255, 255, 255, 0.850);
    color:black;
    font-weight: bold;
    border-radius: 6px;
  }
  .sidebar .links li p:not(.active):hover { /* ---------------------- */
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 6px;
    
  }
 
  .content {
    background-color: #eee;
    flex-grow: 1;
    padding: 15px;
    /* border: 5px solid red; */
    background-color: white;

  }
 
  .content .boxes {
    display:flex;
    margin-bottom: 20px;
  /*   border: 1px solid red; */
  }
  .content .test {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;
    /* border: 1px solid red;  *//* +++++++++++++++++++++++++++++++++++++++++++ */
  }
  .content .row-one .products-one {
    height: 100px;
    line-height: 100px;
   /*  border: 1px solid red; */
  }
  .content .row-two .products-two {
    height: 200px;
    line-height: 200px;
  }
  .content .row-three .products-three {
    height: 300px;
    line-height: 300px;
  }

  .table-head{

    border: 1px solid grey;
  }
  

 .btn-delete{
    margin-right: 10px;
    padding:auto;
    border-radius: 5px;
    color: white;
    background-color: red;
    position: relative;
    top:0rem;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    padding:auto;
    border-radius: 5px; 
}

.btn-delete:hover{
    color: white;
    background-color: #6686DE;
}

.btn-update{
    margin-left: 10px;
    padding:auto;
    border-radius: 5px;
    color: white;
    background-color: green;
    position: relative;
    top:0rem;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    padding:auto;
    border-radius: 5px; 
}

.btn-new{
    position: relative;
    bottom: 1.4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 50px;
    height: 20px;
    margin-left: 10px;
    padding:auto;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.btn-new:hover{
    color: white;
    background-color: #6686DE;
}

.btn-update:hover{
    color: white;
    background-color: #6686DE;
}

.container-stock{
	display: flex;
	margin: 1rem;
    padding-top: 1.5rem;
	/* border: 1px solid red; */
}


.container-fluid{
    /* border: 1px solid red; */
}

.row-stock{
	/* border: 1px solid red; */
}

.sidebar-stock{
	/* border: 1px solid red; */
}

.table{
  
	/* border: 3px solid blue; */
}


.table-text{
	/* border: 1px solid grey;	
    border: 1px solid red; */
}

.data-product2{
	text-align: center;
    border: 1px solid grey;
}

.data-product{
    position: relative;
    bottom: 18px;
	text-align: center;
    border: 1px solid grey;
}

.data-product input{
    border: none;
    
}

.image-stock{
    object-fit: cover;
    width: 110px;
    height: 110px;
   
}