@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css';
/* Orbitron Font */
@import 'https://fonts.googleapis.com/css?family=Orbitron:700';

/* Bootstrap Classes */
body > .container {
	padding-top: 70px;
}

body > .container-fluid {
	padding-top: 50px;
}

.card-dark {
	background-color: #333;
	border-color: #333;
}

.card-block-icon {
	font-size: 5rem;
    position: absolute;
    right: -25px;
    top: -25px;
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    z-index: 0;
}

.navbar-brand {
	font-family: 'Orbitron', sans-serif;
}

.pagination > span > .btn {
	border-radius: 2rem;
}

.progress-bar {
	min-width: 40px;
}

/* General Classes */
.avatar {
	height: 64px;
	width: 64px;
}

.bg-tan {
	background-color: #d2b48c;
}

.btn-inline {
	display: inline-block;
}

.btn-simple {
	border: 0px;
}

.btn-xs {
	font-size: 12px;
	border-radius: 3px;
	padding: 1px 5px;
}

.btn-xs.btn-simple {
	padding: 3px 5px;
}

.profile {
	height: 90px;
	width: 90px;
}


/* Dashboard Classes */
h1.admin {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.comments img {
	max-width: 60px;
}

.posts img {
	max-width: 140px;
}

.td-actions {
	min-width: 110px;
}

.users img {
	max-width: 40px;
}

/* Sidebar Classes */
.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid #eee;
}

.sidebar {
	padding-left: 0;
	padding-right: 0;
}

.sidebar .nav {
	margin-bottom: 20px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item + .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}