.AddressCard {
    border: 1px solid rgba(128, 128, 128, 0.37);
    width: 90%;
    height: 8.5rem;
    display: flex;
    padding: 1rem;
    border-radius: 15px;
}

.AddressCard img {
    align-self: flex-start;
    width: 1.5rem;
    object-fit: contain;
    margin-right: 1rem;
}

.AddressCard-text {
    width: 90%;
    font-size: small;
}

p.direccion {
    font-size: larger;
}


.AddressCard-actions {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}