/* 
#7374FA
#6686DE
#7DBDF5
#E4F1F5
#00B2A5
*/

.available-colours{
    background-color: #E4F1F5;
}

.fullprint{
    background-color: #7DBDF5;
}

.fullprint img{
    background-color: #7DBDF5;
    border: 3px solid white;
}

.fullprint img:hover{
    transform: scale(1.5);
}


.fabricTypes img{
    transition: transform 0.2s ease-out;
}

.fabricTypes img:hover{
    transform: scale(1.5);
}

.colors-list{
    padding: 2.5rem;
}

.color-container img {
    position: relative;  
    border: 3px solid white;
}
  .color-container .color-name {
    position: absolute;
    top: 25%;
    left: -10%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 5rem;
    border-radius: 15px;
    text-align: center;
  }
  

  .color-container:hover .color-name {
    opacity: 1;
  }

  .color-container:hover{
    transform: scale(1.5);
  }

/*  */

.max-w-2xl{
 align-items: center;
}

.fabric-types{
 padding-top: 1.5rem;
 padding-left: 7rem;
}

.full-print{
 padding-top: 1.5rem;
 padding-left: 7rem;
}

.texturas{
 display: flex;
 flex-direction: column;
}
