.colors-list{
    padding-top: 1.5rem;
    padding-left: 4rem;
}
.max-w-2xl{
     align-items: center;
}

.fabric-types{
    padding-top: 1.5rem;
    padding-left: 7rem;
}

.full-print{
    padding-top: 1.5rem;
    padding-left: 7rem;
}