.collageContainer{
    margin-top: 8vh;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    flex-direction: column;
    gap: 30px;
}
.collageSection1 img{
    width: 55vw;
    max-width: 1034px;
    border-radius: 10px;
    transition: all 300ms;
}
.collageSection2 img{
    width: 27vw;
    max-width: 500px;
    object-fit: cover;
    height: 27vw;
    max-height: 500px;
    border-radius: 10px;
    transition: all 300ms;
}
.collageSection2{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    overflow: hidden;
}
.collageSection1{
    overflow: hidden;
    border-radius: 10px;
    height: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collageSection1 img:hover{
    transform: scale(1.1);
}
.collageSection2 div{
    overflow: hidden;
    border-radius: 10px;
}
.collageSection2 img:hover{
    transform: scale(1.1);
}
.textCollage{
    position: relative;
    bottom: 100px;
    width: fit-content;
    padding: 0.75rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;
}
.sectionContainer{
    display: flex ;
    flex-direction: row;
    gap: 20px;
}
@media(max-width:750px){
    .sectionContainer{
        flex-direction: column;
    }
    .collageSection2{
        flex-direction: row;
    }
    .collageSection1 img{
        width: 80vw;
    }
    .collageSection2 img{
        width: 40vw;
        height: 40vw;
    }
    .collageSection1{
        height: 80vw;
    }
    .textCollage{
        font-size: 5vw ;
        bottom: 20vw;
    }
}