.container-orders  {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-orders h1 {
    font-size: x-large;
    font-weight: 500;
    text-align: center;
}



