.logo{
   width: 130px;
}
.logo2{
    width: 100px;
 }
.header{
    width: 100%;
    background: rgb(228,241,245);
    background: linear-gradient(180deg, rgba(228,241,245,1) 0%, rgba(255,255,255,1) 100%);
}
